/* *{ */
    /* background-color: #deb887; */
    /* color: white; */




    body{
        background-color: #deb887;
    }
    
        h1{
            background-color: #ffffff;
            margin: 20px;
        }
    .bg-blue{
        color: white;
        background: #00ffff;
        padding: 15px;
    }
            
    
        .div-one{
            color: #ffffff;
            background-color: #1af1f1;
            padding: 15px;
            opacity: 0.9;
        }
        
         .div-two{
            color: #ffffff;
            background-color: #27ebeb;
            padding: 15px;
            opacity: 0.9;
        }
         .div-three{
            color: #ffffff;
            background-color: #27ebeb;
            padding: 15px;
            opacity: 0.9;
        }
         .div-four{
            color: #ffffff;
            background-color: #29e4e4;
            padding: 15px;
            opacity: 0.9;
        }
         .div-five{
            color: #ffffff;
            background-color: #27e6e6;
            padding: 15px;
            opacity: 0.9;
        }
        
         .div-six{
            color: #ffffff;
            background-color: #2fdada;
            padding: 15px;
            opacity: 0.9;
        }
         .div-green{
            color: #ffffff;
            background-color: #21e327;
            padding: 15px;
            opacity: 0.9;
        }
         .div-seven{
            color: #ffffff;
            background-color: rgb(247, 9, 80)
            padding: 15px;
            opacity: 0.9;
        }
         .div-eight{
            color: #ffffff;
            background-color: #ef1476;
            padding: 15px;
            opacity: 0.9;
        }
        .div-nine{
            color: #ffffff;
            background-color: #db1866;
            padding: 15px;
            opacity: 0.9;
        }
    
    .div-ten{
        color: #ffffff;
        background-color: #ca2251;
        padding: 15px;
        opacity: 0.9;
    }
    
    .div-eleven{
        color: #ffffff;
        background-color: #c52936;
        padding: 15px;
        opacity: 0.9;
    }
    
    .div-twelve{
        color: #ffffff;
        background-color: #c81f36;
        padding: 15px;
        opacity: 0.9;
    }
    
    .div-thirteen{
        color: #ffffff;
        background-color: #c61e51;
        padding: 15px;
        opacity: 0.9;
    }
    
    .div-fourteen{
        color: #ffffff;
        background-color: #d52059;
        padding: 15px;
        opacity: 0.9;
    }
    
    
    .div-fifteen{
        color: #ffffff;
        background-color: #c42e5e;
        padding: 15px;
        opacity: 0.9;
    }
    
           
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        